# Entra ID App Registration (Client Credentials)
TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
CLIENT_SECRET=replace-me

# Fabric
FABRIC_WORKSPACE_ID=cf28125b-1c17-4afa-8510-a290ceaab5f4
FABRIC_LAKEHOUSE_NAME=lh_retail_sales

# Local test file
LOCAL_CSV_PATH=data/online_retail.csv